/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Clipboard Config - Clipboard */

@import "~/.config/rofi/config.rasi" 

configuration {
    matching: "fuzzy";
}

mainbox {
  children:
    [ "inputbar", "message", "listview"];
}

/* ---- Entry ---- */
entry {
  width: 37%;
  placeholder: "📋 Search Clipboard";
}

/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 8;
}
