/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config - emoji */

@import "~/.config/rofi/config.rasi" 

configuration {
    matching: "fuzzy";
}

window {
  width: 55%;
}

mainbox {
  children:
    [ "inputbar", "message", "listview"];
}
/* ---- Entry ---- */
entry {
  width: 37%;
  placeholder: " 💫 Search / Choose Emoji's";
}

/* ---- Listview ---- */
listview {
  columns: 8;
  lines: 8;
}

element {
  spacing: 0px;
}
