// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

include "configs/input.kdl"
include "configs/output.kdl"
include "configs/layout.kdl"
include "configs/misc.kdl"
include "configs/window.kdl"
include "configs/binds.kdl"
include "configs/colors.kdl"
include "./noctalia.kdl"
