/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Rainbow Spectrum */

* {
    font-family: "Arimo Nerd Font";
    font-weight: bold;
    min-height: 0;
    /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
    font-size: 100%;
    background: transparent;
}

window#waybar {
    background-color: rgba(188, 192, 204, 0.50);
    /* border-bottom: 1px solid #000000; */
    padding: 4px 10px;
    margin: 5px;
    /* backdrop-filter: blur(10px); */
}

window#waybar.hidden {
    opacity: 0.5;
}

window#waybar.empty,
window#waybar.empty #window {
	padding: 0px;
	border: 0px;
	/* background-color: transparent; */
}

tooltip {
	background: #1e1e2e;
	opacity: 0.8;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #11111b;
}

tooltip label{
	color: #cdd6f4;
}

#taskbar button,
#workspaces button {
  	color: #d9e0ee;
  	/* color: #3A3B3C; */
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    /* border-radius: 9px; */
    padding-left: 3px;
    padding-right: 3px;
    /* animation: gradient_f 20s ease-in infinite; */
    /* transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682); */
}

#taskbar button.active,
#workspaces button.active {
  	color: #e64553;
  	/* color: #3A3B3C; */
    padding-left: 3px;
    padding-right: 3px;
    /* animation: gradient_f 20s ease-in infinite; */
    /* transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682); */
}

#taskbar button:hover,
#workspaces button:hover {
    /* background: #eb6f92; */
    color: #df8e1d;
    padding-left: 3px;
    padding-right: 3px;
    /* animation: gradient_f 20s ease-in infinite; */
    /* transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682); */
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-cycle_wall,
#custom-hint,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-swaync,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default, 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-gpu-usage,
#custom-weather.sunnyDay {
	/* border-radius: 8px; */
  	/* color: #3A3B3C; */
  	/* border: 1px solid #b4befe; */
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 6px;
	padding-left: 6px;
    min-height: 20px;
}

#backlight {
	color: #8839ef;
}

#battery {
	color: #df8e1d;
}

@keyframes blink {
		to {
			color: #000000;
		}
}

#battery.critical:not(.charging) {
	/* background-color: #f38ba8; */
	color: #d20f39;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#clock {
	color: #40a02b;
}

#mpris {
	color: #fe640b;
	/* background-color: #24273a; */
}
#custom-keyboard,
#keyboard-state,
#keyboard-state label,
#keyboard-state label.locked,
#cpu {
	color: #04a5e5;
}

#memory {
  	color: #1e66f5;
	/* background-color: #eba0ac; */
}

#disk {
	color: #7287fd;
}

#tray {
	color: #7287fd;
}
#tray > .passive {
		-gtk-icon-effect: dim;
}
#tray > .needs-attention {
		-gtk-icon-effect: highlight;
}

#custom-menu {
	color: #f5c2e7;
	/*padding: 1px;*/
	/* padding-right: 10px; */
	/* border-radius: 16px; */
  	/* color: #24273a; */
  	/* border: 1px solid #b4befe; */
}

#custom-power {
	background-color: #f38ba8;
	padding: 0px 0px 0px 6px;
}

#custom-updater {
	background-color: #e6ed7b;
}

#custom-cycle_wall {
	background-color: #94e2d5;
}

#custom-swaync,
#custom-weather {
	color: #cba6f7;
}

#wireplumber {
	background-color: #a6e3a1;
}

#wireplumber.muted {
	background-color: #313244;
	color: #cdd6f4;
}

#custom-lock {
	background-color: #89dceb;
}

#custom-gpu-usage,
#temperature {
	color: #e64553;
  	/* background-color: #86b4fa; */
}

#temperature.critical {
  background-color: red;
}

#custom-power_vertical,
#custom-light_dark,
#idle_inhibitor {
  	background-color: #86b4fa;
}

#bluetooth {
	color: #89dceb;
}
#window {
	color: #04a5e5;
}

#custom-hint,
#pulseaudio {
	color: #fe640b;
}

#pulseaudio.bluetooth {
	color: #dc8a78;
}
#pulseaudio.muted {
	/* background-color: #313244; */
	color: #4c4f69;
}

#network {
	color: #1e66f5;
	padding-right: 12px;
}
#network.disconnected,#network.disabled {
	background-color: #313244;
	color: #cdd6f4;
}
#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
}

#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-width: 80px;
	min-height: 10px;
	border-radius: 5px;
}

#backlight-slider highlight {
	min-width: 10px;
	border-radius: 5px;
}
