# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]

prepend_keymap = [
    { on = "k", run = "arrow -1", desc = "Previous file" },
    { on = "j", run = "arrow 1", desc = "Next file" },
    { on = "<Space>", run = [ "toggle", "arrow 1" ], desc = "Toggle the current selection state" },
    { on = "Q", run = "quit", desc = "Exit the process" },
    { on = "q", run = "quit --no-cwd-file", desc = "Exit the process without writing cwd-file" },
    { on = "O", run = "open", desc = "Open selected files" },
    { on = "o", run = "open --interactive", desc = "Open selected files interactively" },
    { on = "l", run = "plugin smart-enter", desc = "Enter the child directory, or open the file" },
    { on = "<Right>", run = "plugin smart-enter", desc = "Enter the child directory, or open the file" },
    { on = "z", run = "plugin zoxide", desc = "Jump to a directory via zoxide" },
    { on = "Z", run = "noop" },
    { on = [ "c", "m" ], run = "plugin chmod", desc = "Chmod on selected files" },
]

append_keymap = [
    { on = "F", run = "plugin fzf", desc = "Jump to a file/directory via fzf" },
    { on = "<A-f>", run = "plugin fzf-preview", desc = "Customize fzf plugin with preview" },
    { on = "R", run = "rename --empty=stem --cursor=start", desc = "Delete stem before rename" },
    { on = [ "g", "p" ], run = "cd ~/Pictures", desc = "Goto ~/Pictures" },
    { on = [ "g", "s" ], run = "cd ~/sjtu", desc = "Goto ~/sjtu" },
    { on = [ "g", "l" ], run = "cd ~/.local", desc = "Goto ~/.local" },
    { on = "<A-g>", run = "plugin search-interactive", desc = "Interactive search" },
    { on = "!", run = 'shell "$SHELL" --block --confirm', desc = "Open shell here" },
    { on = "<C-h>", run = "plugin toggle-pane min-preview", desc = "Show or hide the preview pane" },
    { on = "<C-m>", run = "plugin toggle-pane max-preview", desc = "Maximize or restore the preview pane" },
    { on = ["c", "A"], run = "plugin compress", desc = "Archive selected files" },
    { on = ["c", "a"], run = "plugin compress 'n'", desc = "Archive selected files with preset" },
]

[input]

prepend_keymap = [
    { on = "<Esc>", run = [ "close", "mgr:escape --filter" ], desc = "Close input and cancel the filter" },
    { on = "H", run = "move bol", desc = "Move to the BOL" },
    { on = "L", run = "move eol", desc = "Move to the EOL" },
]
